doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Movie List
    body
      form(action="/movie/save" method="post")
          input(type="hidden", name="id")
          div 
           label(for="title") Title
           input(type="text", name="title")  
          
           label(for="id") Year 
           input(type="text")  
           button(type="submit") Submit